<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="title">
<script>
    $(function() {
        fc_showLog( 1, '***** include title');
    });
</script>

<div id="titleArea" style="display:none;">
    <div id="caption">
        <h2></h2>
    </div>
    <div id="buttonSet">
        <button id="mnuSearchBtn">Search</button>
        <button id="mnuSaveBtn">Save</button>
        <button id="mnuDeleteBtn">Delete</button>
        <button id="mnuConfirmBtn">Confirm</button>
        <button id="mnuCust1Btn">Custom1</button>
        <button id="mnuCust2Btn">Custom2</button>
        <button id="mnuCust3Btn">Custom3</button>
        <button id="mnuCust4Btn">Custom4</button>
        <button id="mnuCust5Btn">Custom5</button>
        <button id="mnuCust6Btn">Custom6</button>
        <button id="mnuCust7Btn">Custom7</button>
        <button id="mnuCust8Btn">Custom8</button>
        <button id="mnuCust9Btn">Custom9</button>
        <button id="mnuCust10Btn">Custom10</button>
        <button id="mnuPrintBtn">Print</button>
        <button id="mnuCloseBtn">Close</button>
    </div>
</div>
</body>
</html>
