<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <div th:replace="~{BDP/include/IncludeSCO :: head}"></div>
    <title>Alarm Master</title>
    <script type="text/javascript">
        //*********************************************************************************************
        // ********** Declare public variable
        //*********************************************************************************************
        var gridAlarm, gridAlarmId;

        //*********************************************************************************************
        // ********** Function Ready Section
        //*********************************************************************************************
        $(document).ready(function () {
            f_initSreen();
            f_initSearchForm();
            f_initContents();
        }); // end of ready

        $(window).load(function () {
            f_lastProc();
        }); // end of ready

        // 프레임워크 초기화 완료 후 세션 데이터 덮어쓰기 (여러 타이밍에 실행)
        setTimeout(function() {
            // 페이지별 특화 데이터 설정
            initializePageSpecificData('BDP0040');
            
            // 공통 세션 데이터 초기화
            window.overrideSessionData();
            console.log('BDP0040 Session data overridden after 1 second');
        }, 1000);

        //*********************************************************************************************
        // ********** initialize screen Section
        //*********************************************************************************************
        function f_initSreen() {
            serviceName = 'ict.screen.master.alarm-service';
//     	f_time_check_log('f_initSreen');
        }; // end of f_initSreen

        //*********************************************************************************************
        // ********** Initialize Search Condition Section
        //*********************************************************************************************
        function f_initSearchForm() {
            fc_makeSearch( '', 'ALARM_INFO', '' );
//  		f_time_check_log('f_initSearchForm');
        }; // end of f_initSearchForm

        //*********************************************************************************************
        // ********** Initialize data Section
        //*********************************************************************************************
        function f_initContents () {
            gridAlarm   = fc_makeGrid( 'divAlarm', 'insert', 'ALARM_INFO', '', false );
            gridAlarmId = gridAlarm.getGridId();

            $("#"+ gridAlarmId).on('cellvaluechanged', function (event){
                var args = event.args;
                var datafield = event.args.datafield;
                if ( datafield === 'ALARM_ACTION_TYPE' ) {
                    if( fc_getCellData( gridAlarmId, args.rowindex, 'ALARM_ACTION_TYPE') != 'P') {
                        fc_setCellData( gridAlarmId, args.rowindex, 'PAGE_LINK_ID'		,  '');
                    }
                }
            });

            $("#"+ gridAlarmId).on("cellclick", function (event) {
                var args = event.args;
                var rowBoundIndex = args.rowindex;
                var dataField = args.datafield;
                if ( dataField === 'ALARM_TO_USER' || dataField === 'ALARM_TO_ROLE' ) {
                    f_UserRollSetting ( gridAlarmId + '.' + dataField, rowBoundIndex );
                }
            });
//     	f_time_check_log('f_initContents');
            f_button_hide();
        }; // end of f_initContents

        //*********************************************************************************************
        // ********** Last Process Job
        //*********************************************************************************************
        function f_lastProc() {

            fc_setMessage ( [ 'MSG00011' ] );
            fc_lastProc();

            fc_setInputVal('PLANT_CD', fc_getUserPlantCd());

// 		f_time_check_log('f_lastProc');
            f_button_hide();
        }; // end of f_lastProc

        //*********************************************************************************************
        // ********** Screen Button Event Section
        //*********************************************************************************************
        function f_search() {
            fc_addParamForm( 'divSearchCondition' );
            fc_searchGrid( [ { gridId: gridAlarmId, resultKey: 'RK_ALARM' } ], serviceName, 'searchAlarm' );
            f_button_hide();
        }; // end of f_search

        function f_save() {
            var checkPks = true;
            var alarmToUser = null;
            var alarmToRole = null;
            var rowCount = fc_getGridRecordCount(gridAlarmId);
            for (var rowIndex=0; rowIndex<rowCount; rowIndex++ ) {
                if(fc_getCellData(gridAlarmId, rowIndex, 'JQX_CB')){
                    alarmToUser = fc_getCellData( gridAlarmId, rowIndex, 'ALARM_TO_USER');
                    alarmToRole = fc_getCellData( gridAlarmId, rowIndex, 'ALARM_TO_ROLE');
                    if ( fc_isNull(alarmToUser) && fc_isNull(alarmToRole) ){
                        checkPks = false;
                        break;
                    }
                }
            }

            if (!checkPks){
                fc_showMessageBox( fc_getMessage( 'MSG00011', fc_getMultiItem('ALARM_TO_USER'), fc_getMultiItem('ALARM_TO_ROLE') ), 'W');
                return;
            }

            fc_addParamForm( 'divSearchCondition' );
            fc_saveGrid( [ gridAlarmId ], '', serviceName, 'saveAlarm', null, null, null, f_saveAfter );
        }; // end of f_save

        function f_saveAfter () {
            fc_setGridData( [ { gridId: gridAlarmId, resultKey: 'RK_ALARM' } ] );
            f_button_hide();
        }; // end of f_saveAfter

        function f_delete() {
            fc_deleteGrid( [ gridAlarmId ], '', serviceName, 'deleteAlarm' );
            f_button_hide();
        }; // end of f_delete



        //*********************************************************************************************
        // ********** User Defined Function Section
        //*********************************************************************************************
        function f_afterRowControl ( gridEvent ) {
            console.log('gridEvent.ROW_IDX : ' + gridEvent.ROW_IDX + ', gridEvent.EVENT : ' + gridEvent.EVENT);
            if ( gridEvent.EVENT == 'I' && gridEvent.GRID_ID == gridAlarmId ) {
                fc_setCellData( gridEvent.GRID_ID, gridEvent.ROW_IDX, 'PLANT_CD' 		, fc_getGirdLovValue( gridEvent.GRID_ID, 'PLANT_CD', fc_getInputVal('PLANT_CD') ) );
                fc_setCellData( gridEvent.GRID_ID, gridEvent.ROW_IDX, 'BIZ_CHAIN_CD' 	, fc_getGirdLovValue( gridEvent.GRID_ID, 'BIZ_CHAIN_CD', fc_getInputVal('BIZ_CHAIN_CD') ) );
                fc_setCellData( gridEvent.GRID_ID, gridEvent.ROW_IDX, 'ALARM_TYPE' 		, fc_getGirdLovValue( gridEvent.GRID_ID, 'ALARM_TYPE', fc_getInputVal('ALARM_TYPE') ) );

                fc_setCellData( gridEvent.GRID_ID, gridEvent.ROW_IDX, 'ALARM_BLINK' 		, false );
                fc_setCellData( gridEvent.GRID_ID, gridEvent.ROW_IDX, 'ALARM_ACTION_TYPE' 	, fc_getGirdLovValue( gridEvent.GRID_ID, 'ALARM_ACTION_TYPE', 'C' ) );

                fc_setCellData( gridEvent.GRID_ID, gridEvent.ROW_IDX, 'CONF_NOW' 			, true );
                fc_setCellData( gridEvent.GRID_ID, gridEvent.ROW_IDX, 'DISP_ALARM_TM' 		, true );
                fc_setCellData( gridEvent.GRID_ID, gridEvent.ROW_IDX, 'ALARM_USE_YN' 		, true );

            } else if ( gridEvent.EVENT == 'C' && gridEvent.GRID_ID == gridAlarmId ) {
                fc_setCellData( gridEvent.GRID_ID, gridEvent.ROW_IDX, 'ALARM_ID' , null  );
            };
        }; // end of f_afterRowControl

        function f_beforePopupClose( rtnObj ) {
            if ( fc_isNull( rtnObj ) ) return true;

            if ( rtnObj.COL_NAME == 'ALARM_MSG_ID') {
                gridAlarm.setCellData( rtnObj.ROW_ID, 'ALARM_MSG_ID'		, rtnObj.ROW_DATA.CD_VAL 	);
                gridAlarm.setCellData( rtnObj.ROW_ID, 'ALARM_MSG_CONTENTS'	, rtnObj.ROW_DATA.REMARKS  	);
            }
            else if ( rtnObj.COL_NAME == 'CONF_MSG_ID') {
                gridAlarm.setCellData( rtnObj.ROW_ID, 'CONF_MSG_ID'			, rtnObj.ROW_DATA.CD_VAL 	);
                gridAlarm.setCellData( rtnObj.ROW_ID, 'CONF_MSG_TYPE'		, rtnObj.ROW_DATA.CD_NM  	);
                gridAlarm.setCellData( rtnObj.ROW_ID, 'CONF_MSG_CONTENTS'	, rtnObj.ROW_DATA.REMARKS  	);
            }
            return true;
        }; // end of f_beforePopupClose

        function f_cellbeginedit(row, datafield){
            if ( datafield == 'ALARM_INVOKE_INTERVAL' ) {
                if( fc_getCellData( gridAlarmId, row, 'ALARM_AUTO_POP') != 'Y') return false;
            }
            else if ( datafield == 'PAGE_LINK_ID' ) {
                if( fc_getCellData( gridAlarmId, row, 'ALARM_ACTION_TYPE') != 'P') return false;
            }
            else if ( datafield == 'CONF_MSG_ID' 		|| datafield == 'CONF_MSG_TYPE' 	|| datafield == 'CONF_MSG_CONTENTS'
                ||    datafield == 'CONF_MSG_PARAM1' 	|| datafield == 'CONF_MSG_PARAM2' 	|| datafield == 'CONF_MSG_PARAM3' ) {
                if( fc_getCellData( gridAlarmId, row, 'ALARM_ACTION_TYPE') != 'M') return false;
            }
            else if ( datafield == 'EMAIL_ID' ) {
                if( fc_getCellData( gridAlarmId, row, 'EMAIL_SEND_YN') != 'Y') return false;
            }
        }; // end of f_cellbeginedit

        function f_UserRollSetting(targetColumn, rowid) {
            fc_setGridCheckBoxVal(gridAlarmId, rowid, true);
            if ( targetColumn == gridAlarmId+'.ALARM_TO_USER' || targetColumn == gridAlarmId+ '.ALARM_TO_ROLE' ) {
                alarmUserType = targetColumn === gridAlarmId+'.ALARM_TO_USER' ? 'U' : 'R';
                fc_linkagePopup( "SCOA0050", [ { name: "targetColumn"	, value: targetColumn }, { name: "alarmUserType", value: alarmUserType },
                    { name: "alarmToUser"	, value: fc_getCellData( gridAlarmId, rowid, 'ALARM_TO_USER') 	},
                    { name: "smsFl"			, value: fc_getCellData( gridAlarmId, rowid, 'ALARM_SMS_FL') 	},
                    { name: "smsTimeFl"	    , value: fc_getCellData( gridAlarmId, rowid, 'ALARM_SMS_TIME_FL')},
                    { name: "kakaoFl"		, value: fc_getCellData( gridAlarmId, rowid, 'ALARM_KAKAO_FL') 	},
                    { name: "kakaoTimeFl"	, value: fc_getCellData( gridAlarmId, rowid, 'ALARM_KAKAO_TIME_FL')},
                    { name: "kakaoTimeCl"	, value: fc_getCellData( gridAlarmId, rowid, 'ALARM_KAKAO_TIME_CL')},
                    { name: "emailFl"		, value: fc_getCellData( gridAlarmId, rowid, 'ALARM_EMAIL_FL') 	},
                    { name: "alarmToUser2"	, value: fc_getCellData( gridAlarmId, rowid, 'ALARM_TO_USER2') 	},
                    { name: "smsFl2"			, value: fc_getCellData( gridAlarmId, rowid, 'ALARM_SMS_FL2') 	},
                    { name: "emailFl2"		, value: fc_getCellData( gridAlarmId, rowid, 'ALARM_EMAIL_FL2') },
                    { name: "alarmToRole"	, value: fc_getCellData( gridAlarmId, rowid, 'ALARM_TO_ROLE')	},
                    { name: "plantCd"		, value: fc_getInputVal( 'PLANT_CD')	},
                    { name: "rowid"			, value: rowid	},
                ], '70%', '90%', true );
            }
        }; // end of f_UserRollSetting


        function f_receiveGridData(targetColumn,  pGridData, rowIndex ) {
            var roleCd  = [];
            var roleNm  = [];
            var smsFl   = [];
            var smsTimeFl = [];
            var kakaoFl   = [];
            var kakaoTimeFl = [];
            var kakaoTimeCl = [];
            var emailFl = [];
            $.each(pGridData, function (key, value){
                console.log('A0040 pGridData : ' + JSON.stringify(value));
                roleCd.push(value.ROLE_CD);
                roleNm.push(value.ROLE_NM);
                smsFl.push(value.ALARM_SMS_FL);
                smsTimeFl.push(fc_isNull(value.ALARM_SMS_TIME_FL) ? false : value.ALARM_SMS_TIME_FL );
                kakaoFl.push(value.ALARM_KAKAO_FL);
                kakaoTimeFl.push(fc_isNull(value.ALARM_KAKAO_TIME_FL) ? false : value.ALARM_KAKAO_TIME_FL );
                kakaoTimeCl.push(value.ALARM_KAKAO_TIME_CL);
                emailFl.push(value.ALARM_EMAIL_FL);
            });
            fc_setCellData( gridAlarmId, rowIndex, targetColumn.substr(targetColumn.indexOf('.')+1), roleCd.join(','));
            fc_setCellData( gridAlarmId, rowIndex, 'ALARM_SMS_FL', smsFl.join(','));
            fc_setCellData( gridAlarmId, rowIndex, 'ALARM_SMS_TIME_FL', smsTimeFl.join(','));
            fc_setCellData( gridAlarmId, rowIndex, 'ALARM_KAKAO_FL', kakaoFl.join(','));
            fc_setCellData( gridAlarmId, rowIndex, 'ALARM_KAKAO_TIME_FL', kakaoTimeFl.join(','));
            fc_setCellData( gridAlarmId, rowIndex, 'ALARM_KAKAO_TIME_CL', kakaoTimeCl.join(','));
            fc_setCellData( gridAlarmId, rowIndex, 'ALARM_EMAIL_FL', emailFl.join(','));
        }; // end of f_receiveGridData

        function f_receiveGridData2(targetColumn,  pGridData, rowIndex ) {
            var roleCd   = [];
            var smsFl2   = [];
            var emailFl2 = [];

            $.each(pGridData, function (key, value){
                roleCd.push(value.ROLE_CD);
                smsFl2.push(value.ALARM_SMS_FL2);
                emailFl2.push(value.ALARM_EMAIL_FL2);
            });
            fc_setCellData( gridAlarmId, rowIndex, 'ALARM_TO_USER2', roleCd.join(','));
            fc_setCellData( gridAlarmId, rowIndex, 'ALARM_SMS_FL2', smsFl2.join(','));
            fc_setCellData( gridAlarmId, rowIndex, 'ALARM_EMAIL_FL2', emailFl2.join(','));
        }; // end of f_receiveGridData

        function f_time_check_log(funcName) {
            console.log('SCOA0040 : ' + funcName + '========>' + fc_getCurrentDateTime());
        }

        function f_button_hide(){
            $('#GRID_COPY_BTN').hide();
        }
    </script>
</head>
<body>
<div id="divContainer">
    <div id="divTitle">
        <div th:replace="~{BDP/include/IncludeTitleSCO :: title}"></div>
    </div>
    <div id="divSearchCondition"></div>
    <div id="divContents">
        <div id="divAlarm"></div>
    </div>
</div>
<div id="divMessage">
    <div th:replace="~{BDP/include/IncludeMessageSCO :: message}"></div>
</div>
</body>
</html>