<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <div th:replace="~{BDP/include/IncludeSMZ :: head}"></div>
    <title>Tag 이벤트/알람 관리 기준</title>
    <script type="text/javascript">
        (function(){
            if (typeof fc_setSessionItem === 'function') {
                fc_setSessionItem('GW_PGM_ID', 'SMZ7070');
                fc_setSessionItem('GW_USER_ID', '99991201');
            }
            window.gwMesEnv = window.gwMesEnv || { user: {} };
            window.gwMesEnv.user = window.gwMesEnv.user || {};
            window.gwMesEnv.user.id = '99991201';
            window.gwMesEnv.user.pgmId = 'SMZ7070';
            window.gwJsonParam = window.gwJsonParam || {};
            window.gwJsonParam['PGM_ID'] = 'SMZ7070';
            window.gwJsonParam['MNU_ID'] = 'M000001463';
            if (typeof fc_setDefaultParam === 'function') {
                var __orig_fc_setDefaultParam = fc_setDefaultParam;
                fc_setDefaultParam = function(prmServiceNm){
                    __orig_fc_setDefaultParam(prmServiceNm);
                    var forcedPgmId = (typeof fc_getSessionItem === 'function') ? fc_getSessionItem('GW_PGM_ID') : null;
                    if (!forcedPgmId) forcedPgmId = window.gwMesEnv && window.gwMesEnv.user ? window.gwMesEnv.user.pgmId : null;
                    if (forcedPgmId) {
                        window.gwJsonParam['gwPgmId'] = forcedPgmId;
                        window.gwJsonParam['PGM_ID'] = forcedPgmId;
                    }
                    window.gwJsonParam['MNU_ID'] = 'M000001463';
                    window.gwJsonParam['USER_ID'] = '99991201';
                    window.gwJsonParam['gwLoginId'] = '99991201';
                    try {
                        if (typeof fc_setSessionItem === 'function') {
                            fc_setSessionItem('GW_SYSTEM_ENV', window.gwMesEnv);
                        }
                    } catch(e) {}
                };
            }
        })();
        $(function(){
            window.gwMesEnv = window.gwMesEnv || { user: {} };
            window.gwMesEnv.user = window.gwMesEnv.user || {};
            window.gwMesEnv.user.pgmId = 'SMZ7070';
            if (typeof fc_setSessionItem === 'function') {
                fc_setSessionItem('GW_SYSTEM_ENV', window.gwMesEnv);
            }
        });

        //*********************************************************************************************
        // ********** Declare public variable
        //*********************************************************************************************
        var gridTagMstEvent, gridTagMstEventId;

        //*********************************************************************************************
        // ********** Function Ready Section
        //*********************************************************************************************
        $(document).ready(function () {
            f_initSreen();
            f_initSearchForm();
            f_initContents();
            f_lastProc();
        }); // end of ready

        //*********************************************************************************************
        // ********** initialize screen Section
        //*********************************************************************************************
        function f_initSreen() {
            serviceName = "SMZ7070-service";
        } // end of f_initSreen

        //*********************************************************************************************
        // ********** Initialize Search Condition Section
        //*********************************************************************************************
        function f_initSearchForm() {
            fc_makeSearch( '', 'TAG_MST_EVENT', '' );
        } // end of f_initSearchForm

        //*********************************************************************************************
        // ********** Initialize DATA Section
        //*********************************************************************************************
        function f_initContents () {
            gridTagMstEvent   = fc_makeGrid( 'divGridTagMstEvent', 'insert', 'TAG_MST_EVENT', '', false );
            gridTagMstEventId = gridTagMstEvent.getGridId();

            $("#"+ gridTagMstEventId).on("cellclick", function (event) {
                var args = event.args;
                var rowBoundIndex = args.rowindex;
                var dataField = args.datafield;
                if ( dataField === 'TAG_ID' && !args.rightclick) {

                    f_TagRollSetting ( gridTagMstEventId + '.' + dataField, rowBoundIndex );
                }
            });

        } // end of f_initContents

        //*********************************************************************************************
        // ********** Last Process Job
        //*********************************************************************************************
        function f_lastProc() {
            fc_lastProc();
            //fc_setColMaxLength( gridChainTagMstId, 'SCR_ID', 20 );

            // 버튼 강제 표시
            setTimeout(function() {
                $('#titleArea').show();
                $('#mnuSearchBtn').show();
                $('#mnuSaveBtn').show();
                $('#mnuDeleteBtn').show();
                $('#mnuCloseBtn').show();
                console.log('Buttons forced to show');
            }, 500);
        } // end of f_lastProc

        //*********************************************************************************************
        // ********** Screen Button Event Section
        //*********************************************************************************************
        function f_search() {
            fc_addParamForm( 'divSearchCondition' );
            fc_searchGrid( [ { gridId: gridTagMstEventId, resultKey: 'RK_TAG_MST_EVENT_LIST' } ], serviceName, "searchTagMstEvent" );
        } // end of f_search

        function f_save() {
            fc_saveGrid( [ gridTagMstEventId ], '', serviceName, 'saveTagMstEvent', '', 'Y' );
        } // end of f_save

        function f_delete() {
            fc_deleteGrid( [ gridTagMstEventId ], '', serviceName, 'deleteTagMstEvent', '', 'Y' );
        } // end of f_delete

        //*********************************************************************************************
        // ********** User Defined Function Section
        //*********************************************************************************************
        function f_TagRollSetting(targetColumn, rowIndex) {
            fc_setGridCheckBoxVal(gridTagMstEventId, rowIndex, true);
            if ( targetColumn == gridTagMstEventId+'.TAG_ID' ) {
                fc_linkagePopup( "SMZ7010", [  { name: "openUrl"	, value:'SMZ7070' 	},
                    { name: "openGridRowIndex"	, value: rowIndex	},
                ], '85%', '90%', true );
            }
        } // end of f_TagRollSetting

        function f_receiveGridData(tag_id, tag_nm, mgmt_ll_val, mgmt_ul_val, rowIndex) {
            fc_resizeDivWidth(gridTagMstEventId);
            fc_setCellData(gridTagMstEventId, rowIndex, 'TAG_ID', tag_id);
            fc_setCellData(gridTagMstEventId, rowIndex, 'TAG_NM', tag_nm);
            fc_setCellData(gridTagMstEventId, rowIndex, 'LCL_VAL', mgmt_ll_val);
            fc_setCellData(gridTagMstEventId, rowIndex, 'UCL_VAL', mgmt_ul_val);
        }

    </script>
</head>
<body>
<div id="divContainer">
    <div id="divTitle">
        <div th:replace="~{BDP/include/IncludeTitleSMZ :: title}"></div>
    </div>
    <div id="divSearchCondition"></div>
    <div id="divContents">
        <div id="divGridTagMstEvent"></div>
    </div>
</div>
<div id="divMessage">
    <div th:replace="~{BDP/include/IncludeMessageSMZ :: message}"></div>
</div>
</body>
</html>