<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <div th:replace="~{BDP/include/IncludeSMZ :: head}"></div>
    <title>사용자 계산식 추가</title>
    <script src="/SMZ/include/js/smz.common.extend.js"></script>
    <script type="text/javascript">
        //*********************************************************************************************
        // ********** Declare public variable
        //*********************************************************************************************
        var gridUserFormual, gridUserFormualId;
        var P_USER_FOMULA_DATA;

        //*********************************************************************************************
        // ********** Function Ready Section
        //*********************************************************************************************
        $(document).ready(function () {
            f_initSreen();
            f_initContents();
            f_lastProc();
        }); // end of ready

        //*********************************************************************************************
        // ********** initialize screen Section
        //*********************************************************************************************
        function f_initSreen() {
            P_USER_FOMULA_DATA = parent.f_getUserFomulaData();
        }; // end of f_initSreen

        //*********************************************************************************************
        // ********** Initialize data Section
        //*********************************************************************************************
        function f_initContents () {
            gridUserFormual   = fc_makeGrid( 'divChart', 'insert', 'TAG_USER_FORMUAL', '', false );
            gridUserFormualId = gridUserFormual.getGridId();

        }; // end of f_initContents

        //*********************************************************************************************
        // ********** Last Process Job
        //*********************************************************************************************
        function f_lastProc() {
            fc_lastProc();

            if(P_USER_FOMULA_DATA != undefined){
                for(var i=P_USER_FOMULA_DATA.length-1; i>=0; i--) {

                    var emptyRow = new Object();
                    emptyRow[ 'JQX_RS' ] = fc_getGridFlag( 'A' );
                    emptyRow[ 'JQX_CB' ] = false;
                    emptyRow[ 'USER_TAG_ID' ] = P_USER_FOMULA_DATA[i].USER_TAG_ID;
                    emptyRow[ 'USER_TAG_NAME' ] = P_USER_FOMULA_DATA[i].USER_TAG_NAME;
                    emptyRow[ 'USER_TAG_FORMUAL' ] = P_USER_FOMULA_DATA[i].USER_TAG_FORMUAL;
                    emptyRow[ 'USER_TAG_CHK' ] = 'false'; //P_USER_FOMULA_DATA[i].USER_TAG_CHK;

                    fc_addRowData( gridUserFormualId, null, emptyRow, 0 );

                }
            }


        }; // end of f_lastProc

        //*********************************************************************************************
        // ********** Screen Button Event Section
        //*********************************************************************************************
        function f_cust1() {

            var gridTagUserFomulaData = fc_getRowsData(gridUserFormualId);
            var iChk = 0;

            if(gridTagUserFomulaData != undefined){
                for(i=0; i<gridTagUserFomulaData.length; i++) {
                    // 체크되어진것만 조회조건에 추가
                    if(gridTagUserFomulaData[i].JQX_CB == true && gridTagUserFomulaData[i].USER_TAG_CHK == 'false'){
                        //fc_setCellData(gridUserFormualId, i, 'USER_TAG_CHK' ,'true' );
                        iChk++;
                    }
                }
            }

            if(iChk == 0){
                //alert('적용할 계산식을 추가 또는 체크박스 선택 후 적용 바랍니다.');
                //return;
            }

            console.log('#####  gridUserFormualId ', gridUserFormualId);
            console.log('#####  fc_getRowsData(gridUserFormualId) ', fc_getRowsData(gridUserFormualId));

            parent.f_setChartUserFomula(fc_getRowsData(gridUserFormualId));
            f_closePopup();
        }; // end of f_cust1


        function f_closePopup() {
            var parentPop = parent.window.popWin;
            parentPop.closePop();
        }; // end of f_close

        //*********************************************************************************************
        // ********** User Defined Function Section
        //*********************************************************************************************
        // Date.prototype.format = function (f) {
        //     if (!this.valueOf()) return " ";
        //     var weekKorName = ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"];
        //     var weekKorShortName = ["일", "월", "화", "수", "목", "금", "토"];
        //     var weekEngName = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        //     var weekEngShortName = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
        //     var d = this;

        //     return f.replace(/(yyyy|yy|MM|dd|KS|KL|ES|EL|HH|hh|mm|ss|SS|a\/p)/gi, function ($1) {
        //         switch ($1) {
        //             case "yyyy": return d.getFullYear(); // 년 (4자리)
        //             case "yy": return (d.getFullYear() % 1000).zf(2); // 년 (2자리)
        //             case "MM": return (d.getMonth() + 1).zf(2); // 월 (2자리)
        //             case "dd": return d.getDate().zf(2); // 일 (2자리)
        //             case "KS": return weekKorShortName[d.getDay()]; // 요일 (짧은 한글)
        //             case "KL": return weekKorName[d.getDay()]; // 요일 (긴 한글)
        //             case "ES": return weekEngShortName[d.getDay()]; // 요일 (짧은 영어)
        //             case "EL": return weekEngName[d.getDay()]; // 요일 (긴 영어)
        //             case "HH": return d.getHours().zf(2); // 시간 (24시간 기준, 2자리)
        //             case "hh": return ((h = d.getHours() % 12) ? h : 12).zf(2); // 시간 (12시간 기준, 2자리)
        //             case "mm": return d.getMinutes().zf(2); // 분 (2자리)
        //             case "ss": return d.getSeconds().zf(2); // 초 (2자리)
        //             case "SS": return d.getMilliseconds().zf(3); // 밀리초 (3자리)
        //             case "a/p": return d.getHours() < 12 ? "오전" : "오후"; // 오전/오후 구분
        //             default: return $1;
        //         }
        //     });
        // };
        // String.prototype.string = function (len) { var s = '', i = 0; while (i++ < len) { s += this; } return s; };
        // String.prototype.zf = function (len) { return "0".string(len - this.length) + this; };
        // Number.prototype.zf = function (len) { return this.toString().zf(len); };

        function f_afterRowControl ( gridEvent ) {
            if ( gridEvent.EVENT == 'I' && gridEvent.GRID_ID == gridUserFormualId ) {
                var nDate = new Date();
                var utagId = 'U'+nDate.format('yyyyMMddHHmmssSS');
                fc_setCellData( gridEvent.GRID_ID, gridEvent.ROW_IDX, 'JQX_CB' , true );
                fc_setCellData( gridEvent.GRID_ID, gridEvent.ROW_IDX, 'USER_TAG_ID' , utagId );
                fc_setCellData( gridEvent.GRID_ID, gridEvent.ROW_IDX, 'USER_TAG_FORMUAL' , 'return ' );
                fc_setCellData( gridEvent.GRID_ID, gridEvent.ROW_IDX, 'USER_TAG_CHK' , 'false' );
            }else if(gridEvent.EVENT == 'D'){

            }
        }; // end of f_afterRowControl
    </script>
</head>
<body>
<div id="divContainer">
    <div id="divTitle">
        <div th:replace="~{BDP/include/IncludeTitleSMZ :: title}"></div>
    </div>
    <div id="divContents">
        <div id="divChart"></div>
    </div>
</div>
<div id="divMessage">
    <div th:replace="~{BDP/include/IncludeMessageSMZ :: message}"></div>
</div>
</body>
</html>