<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <div th:replace="~{BDP/include/IncludeSMZ :: head}"></div>
    <title>Tag Memo</title>
    <script type="text/javascript">
        //*********************************************************************************************
        // ********** Declare public variable
        //*********************************************************************************************
        var gridTagMst, gridTagMemo, gridTagMstId, gridTagMemoId;

        var P_TAG_CODE,P_TAG_NAME;
        var SELECT_TAG_CODE = "";

        //*********************************************************************************************
        // ********** Function Ready Section
        //*********************************************************************************************
        $(document).ready(function () {
            f_initSreen();
            f_initSearchForm();
            f_initContents();
            f_lastProc();
        }); // end of ready

        //*********************************************************************************************
        // ********** initialize screen Section
        //*********************************************************************************************
        function f_initSreen() {
            // setting service name
            serviceName = 'SMZ6214-service';
        }; // end of f_initSreen

        //*********************************************************************************************
        // ********** Initialize Search Condition Section
        //*********************************************************************************************
        function f_initSearchForm() {
            P_TAG_CODE = parent.f_getTagCode();
            P_TAG_NAME = parent.f_getTagName();
        }; // end of f_initSearchForm

        //*********************************************************************************************
        // ********** Initialize data Section
        //*********************************************************************************************
        function f_initContents () {
            gridTagMst   = fc_makeGrid( 'divTagMst', 'search', 'TAG_MST', '', false );
            gridTagMstId = gridTagMst.getGridId();
            gridTagMst.setGridBindEvent( 'rowselect', f_searchMemo );

            gridTagMemo   = fc_makeGrid( 'divTagMemo', 'insert', 'TAG_MST_MEMO', '', false );
            gridTagMemoId = gridTagMemo.getGridId();
            gridTagMemo.setParentGrid( gridTagMstId );

            $("#"+ gridTagMemoId).on('cellbeginedit', function (event){

                var args = event.args;
                var dataField = event.args.datafield;
                var rowBoundIndex = event.args.rowindex;
                var value = args.value;
                var oldvalue = args.oldvalue;
                var rowData = args.row;

                if ( dataField === 'MEMO_DTM') {

                    var vJqxRs = fc_getCellData( gridTagMemoId, rowBoundIndex, 'JQX_RS' );

                    if(vJqxRs != "I"){
                        alert("이미 등록된 메모일시는 수정할 수 없습니다.\n삭제후 등록바랍니다.");
                        $("#"+gridTagMemoId).jqxGrid('endcelledit', 0, "MEMO_DTM", true);
                        return;
                    }
                }

            });

            fc_makeSplitter( 'divMain', '40%', '55%' );
        }; // end of f_initContents

        //*********************************************************************************************
        // ********** Last Process Job
        //*********************************************************************************************
        function f_lastProc() {
            fc_lastProc();

            for(var i=P_TAG_CODE.length-1; i>=0; i--) {

                var emptyRow = new Object();
                emptyRow[ 'JQX_RS' ] = fc_getGridFlag( 'A' );
                emptyRow[ 'JQX_CB' ] = false;
                emptyRow[ 'TAG_CODE' ] = P_TAG_CODE[i];
                emptyRow[ 'TAG_NAME' ] = P_TAG_NAME[i];

                fc_addRowData( gridTagMstId, null, emptyRow,0 );
            }
        }; // end of f_lastProc

        //*********************************************************************************************
        // ********** Screen Button Event Section
        //*********************************************************************************************
        function f_searchMemo() {
            if ( fc_getGridRecordCount( gridTagMstId ) <= 0 ) return;
            SELECT_TAG_CODE = args.row.TAG_CODE;
            fc_addParam( 'TAG_ID', args.row.TAG_CODE );
            fc_searchGrid( [ { gridId: gridTagMemoId, resultKey: 'RK_TAG_MEMO_LIST' } ], serviceName, 'searchTagMemo' );
        }; // end of f_searchMemo

        function f_save() {
            var rowData = fc_getSelectedRowData( gridTagMstId );
            fc_saveGrid( [ gridTagMemoId ], { TAG_ID: rowData.TAG_CODE }, serviceName, 'saveTagMemo', '','','', f_save_after );
        }; // end of f_save

        function f_delete() {
            //var rowData = fc_getSelectedRowData( gridTagMstId );
            fc_deleteGrid( [ gridTagMemoId ], '', serviceName, 'deleteTagMemo' );
        }; // end of f_delete

        //*********************************************************************************************
        // ********** User Defined Function Section
        //*********************************************************************************************
        function f_save_after(){
            var prmParam = {'TAG_ID':SELECT_TAG_CODE};
            fc_searchGrid( [ { gridId: gridTagMemoId, resultKey: 'RK_TAG_MEMO_LIST' } ], serviceName, 'searchTagMemo', '', '', prmParam );
        }
    </script>
</head>
<body>
<div id="divContainer">
    <div id="divTitle">
        <div th:replace="~{BDP/include/IncludeTitleSMZ :: title}"></div>
    </div>
    <div id="divContents">
        <div id="divMain">
            <div id="divTagMst"></div>
            <div id="divTagMemo" ></div>
        </div>
    </div>
</div>
<div id="divMessage">
    <div th:replace="~{BDP/include/IncludeMessageSMZ :: message}"></div>
</div>
</body>
</html>