<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <div th:replace="~{BDP/include/IncludeSMZ :: head}"></div>
    <title>Virtual Tag 관리</title>
    <script type="text/javascript">
        //*********************************************************************************************
        // ********** Declare public variable
        //*********************************************************************************************
        var gridTagFrml, gridTagFrmlId;
        var openUrl = fc_getUrlParameter('openUrl');
        var openGridRowIndex = fc_getUrlParameter('openGridRowIndex');

        //*********************************************************************************************
        // ********** Function Ready Section
        //*********************************************************************************************
        $(document).ready(function () {
            f_initSreen();
            f_initSearchForm();
            f_initContents();
            f_lastProc();
        }); // end of ready

        //*********************************************************************************************
        // ********** initialize screen Section
        //*********************************************************************************************
        function f_initSreen() {
            serviceName = 'smz.tag.frml-service';
        }; // end of f_initSreen

        //*********************************************************************************************
        // ********** Initialize Search Condition Section
        //*********************************************************************************************
        function f_initSearchForm() {
            fc_makeSearch('', 'TAG_FRML', '');
        }; // end of f_initSearchForm

        //*********************************************************************************************
        // ********** Initialize data Section
        //*********************************************************************************************
        function f_initContents() {
            gridTagFrml = fc_makeGrid('divTagFrml', 'insert', 'TAG_FRML', '', false);
            gridTagFrmlId = gridTagFrml.getGridId();

            fc_setGridParam(gridTagFrmlId, {selectionmode: 'singlerow', clipboard: true});
            gridTagFrml.setGridBindEvent('rowselect', f_setTagFrmlDetailContents);

            $("#" + gridTagFrmlId).on("rowdoubleclick", function (event) {

                if (!fc_isNull(openUrl)) {
                    var args = event.args;
                    var tag_id = fc_getCellData(gridTagFrmlId, args.rowindex, 'VTL_TAG_ID');
                    var tag_nm = fc_getCellData(gridTagFrmlId, args.rowindex, 'VTL_TAG_NM');

                    if (openUrl == 'SMZ7060') {
                        parent.f_receiveGridData(tag_id, tag_nm, openGridRowIndex, null, null);
                    }

                    $('#mnuCloseBtn').trigger('click');
                }


            });

            fc_makeSplitter('divMain', '70%', '30%');
        }; // end of f_initContents

        //*********************************************************************************************
        // ********** Last Process Job
        //*********************************************************************************************
        function f_lastProc() {
            fc_lastProc();

            fc_setFormComboFilter({
                object: 'PROC_CD'
                , code: 'TAG_COST_CENTER'
                , format: 'V'
                , nullable: true
                , defval: ''
                , parentColNm: 'FAC_CD'
                , arrowColNm: 'ATTR1'
                , parentNullOpt: true
            });

            fc_setFormComboFilter({
                object: 'ASSET_CD'
                , code: 'TAG_ASSET_CD'
                , format: 'V'
                , nullable: true
                , defval: ''
                , parentColNm: 'PROC_CD'
                , arrowColNm: 'ATTR1'
                , parentNullOpt: true
            });

            fc_setGridComboFilter({
                object: gridTagFrmlId + '.PROC_CD_1'
                , code: 'TAG_COST_CENTER'
                , format: 'V'
                , nullable: true
                , defval: ''
                , parentColNm: 'FAC_CD'
                , arrowColNm: 'ATTR1'
            });

            fc_setGridComboFilter({
                object: gridTagFrmlId + '.ASSET_CD_1'
                , code: 'TAG_ASSET_CD'
                , format: 'V'
                , nullable: true
                , defval: ''
                , parentColNm: 'PROC_CD_1'
                , arrowColNm: 'ATTR1'
            });

        }; // end of f_lastProc

        //*********************************************************************************************
        // ********** Screen Button Event Section
        //*********************************************************************************************
        function f_search() {
            f_initDetail();
            fc_addParamForm('divSearchCondition');
            fc_searchGrid([{gridId: gridTagFrmlId, resultKey: 'RK_TAG_FRML_LIST'}], serviceName, 'searchTagFrml');
        }; // end of f_search

        function f_save() {
            f_setTagFrmlTextToGrid();
            fc_saveGrid([gridTagFrmlId], '', serviceName, 'saveTagFrml');
        }; // end of f_save

        function f_delete() {
            fc_deleteGrid([gridTagFrmlId], '', serviceName, 'deleteTagFrml');
        }; // end of f_delete

        //*********************************************************************************************
        // ********** User Defined Function Section
        //*********************************************************************************************v
        function f_initDetail() {
            fc_setInputVal('FRML_ORGNL_TEXT', '');
            fc_setInputVal('FRML_JAVA_TEXT', '');
            //fc_setInputVal( 'FRML_SQL_TEXT'    , '' );
        }; // end of f_initDetail

        function f_setTagFrmlDetailContents(event) {
            // event arguments.
            var args = event.args;
            var rowData = args.row;
            var rowBoundIndex = args.rowindex;

            fc_setInputVal('FRML_ORGNL_TEXT', rowData.FRML_ORGNL);
            fc_setInputVal('FRML_JAVA_TEXT', rowData.FRML_JAVA);
            //fc_setInputVal( 'FRML_SQL_TEXT'    , rowData.FRML_SQL  );
        }; // f_setTagFrmlDetailContents

        function f_setTagFrmlTextToGrid() {
            var vSelIdx = fc_getSelRow(gridTagFrmlId);
            if (vSelIdx < 0) return;

            fc_setCellData(gridTagFrmlId, vSelIdx, 'FRML_ORGNL', fc_getInputVal('FRML_ORGNL_TEXT'));
            fc_setCellData(gridTagFrmlId, vSelIdx, 'FRML_JAVA', fc_getInputVal('FRML_JAVA_TEXT'));
            //fc_setCellData( gridTagFrmlId, vSelIdx, 'FRML_SQL', fc_getInputVal( 'FRML_SQL_TEXT' ) );

        }; // end of f_setTagFrmlTextToGrid
    </script>
</head>
<body>
<div id="divContainer">
    <div id="divTitle">
        <div th:replace="~{BDP/include/IncludeTitleSMZ :: title}"></div>
    </div>
    <div id="divSearchCondition"></div>
    <div id="divContents">
        <div id="divMain">
            <div id="divTagFrml" style="width:70%; height:100%;" floatType="left" class='contents-float-left'></div>
            <div id="divCurrent" style="width:30%; height:100%;" floatType="left"
                 class='contents-float-left  addpadding-left'>

                <div id="divTagChoice2" style="width:100%; height:20px;" floatType="group" class='contents-float-line'>
                    <ul>
                        <li>계산식 Java</li>
                    </ul>
                </div>
                <div id="divBlank2" style="width:100%; height:3px;" floatType="group" class='contents-float-line'></div>
                <div id="divTagEditable2" style="width:100%; height: 45%;" floatType="group"
                     class='contents-float-line'>
                    <textarea id="FRML_JAVA_TEXT"
                              style="width:100%; height: 100%;font-family:'Courier New';"></textarea>
                </div>

                <div id="divTagChoice1" style="width:100%; height:20px;" floatType="group" class='contents-float-line'>
                    <ul>
                        <li>계산식 원본</li>
                    </ul>
                </div>
                <div id="divBlank1" style="width:100%; height:3px;" floatType="group" class='contents-float-line'></div>
                <div id="divTagEditable1" style="width:100%; height: 45%;" floatType="group"
                     class='contents-float-line'>
                    <textarea id="FRML_ORGNL_TEXT"
                              style="width:100%; height: 100%;font-family:'Courier New';"></textarea>
                </div>
                <!-- 					<div id="divTagChoice3" style="width:100%; height:20px;" floatType="group" class='contents-float-line'> -->
                <!-- 						<ul><li>계산식 SQL</li></ul> -->
                <!--                     </div> -->
                <!-- 					<div id="divBlank3" style="width:100%; height:3px;" floatType="group" class='contents-float-line'></div> -->
                <!-- 					<div id="divTagEditable3" style="width:100%; height: 25%;" floatType="group" class='contents-float-line'> -->
                <!-- 						<textarea id="FRML_SQL_TEXT" style="width:100%; height: 100%;font-family:'Courier New';"></textarea> -->
                <!-- 					</div> -->
            </div>
        </div>
    </div>
</div>
</div>
<div id="divMessage">
    <div th:replace="~{BDP/include/IncludeMessageSMZ :: message}"></div>
</div>
</body>
</html>